@use './../../../global-styles/setup-style' as *;

.featureCard {
  max-width: 385px;
  @include flex_verticalAlign(center);
  flex-direction: column;

  .icon {
    width: 48px;
    height: 48px;
    margin-bottom: var(--marginBottom-title);
    flex-shrink: 0;
  }
  .contentContainer {
    .title,
    .text {
      text-align: center;
    }
    .title {
      font-size: var(--font-size-base-lg);
      line-height: 1.4;
      color: var(--color-primary);
      font-family: var(--font-noto-semiBold);
      margin-bottom: 0.5em;
    }
    .text {
      color: var(--color-secondary);
    }
  }

  &.row {
    max-width: initial;
    flex-direction: row;
    gap: 1.25rem;

    .icon {
      align-self: flex-start;
    }
    .contentContainer {
      padding-top: 0.625rem;
      padding-bottom: 0.625rem;

      .title,
      .text {
        text-align: initial;
      }
      .title {
      }
      .text {
      }
    }
  }
}
