@use './../../../global-styles/setup-style' as *;

.footer {
  padding: var(--padding-section-tablet);

  .navList {
    @include flex_horizonAlign(center);
    gap: 1.5rem;
    margin-bottom: var(--marginBottom-container);

    .navItem {
      color: var(--color-secondary);
      font-family: var(--font-noto-medium);
      font-size: var(--font-size-sm);
      text-wrap: nowrap;
    }
  }
  .socialsContainer {
    @include flex_horizonAlign(center);
    gap: 1.5rem;
    margin-bottom: 1rem;

    .socialItem {
      @include flex_center;
    }
  }

  .copyright {
    font-size: var(--font-size-sm);
    color: var(--color-primary);
    text-align: center;
  }

  @media screen and (max-width: 1190px) {
    padding: var(--padding-section-mobile);
  }

  @media screen and (max-width: 440px) {
    .navList {
      gap: 1rem;
    }
  }
}
