@use 'variables' as *;

@mixin before_after($background-image: false, $width, $height: $width) {
  content: '';
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: $width;
  height: $height;
  @if $background-image {
    background-image: url($background-image);
  }
}

@mixin flex_verticalAlign($position) {
  display: flex;
  align-items: $position;
}
@mixin flex_horizonAlign($position) {
  display: flex;
  justify-content: $position;
}
@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin primaryText {
  color: var(--color-secondary);
  font-size: var(--font-size-base);

  // @media screen and (max-width: 1385px) {
  //   font-size: 18px;
  // }
}

@mixin primaryTitle {
  color: var(--color-primary);
  font-family: var(--font-noto-semiBold);
  line-height: 100%;
  font-size: var(--font-size-xl);
  margin-bottom: var(--marginBottom-title);

  // @media screen and (max-width: 1385px) {
  //   font-size: 28px;
  // }
}

@mixin alignPositionElement {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
