.btn {
  font-family: var(--font-noto-medium);
  border-radius: var(--radius-btn);
  font-size: var(--font-size-base);
  padding: var(--padding-btn);
  border: 1px solid transparent;
  transition: var(--transition);
  text-wrap: nowrap;

  &.primary {
    background-color: var(--color-thirdly);
    color: var(--color-fourthly);

    &:not(:disabled) {
      &:hover {
        background-color: var(--color-thirdly-hover);
      }
    }
  }
  &.secondary {
    background-color: var(--color-fourthly);
    color: var(--color-primary);
    border-color: var(--color-border-btn);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06), 0 1px 3px 0 rgba(0, 0, 0, 0.1);

    &:not(:disabled) {
      &:hover {
        color: var(--color-primary-hover);
        background-color: var(--color-fourthly-hover);
      }
    }
  }
  &.burger,
  &.close {
    padding: initial;
    box-shadow: none;
    border: none;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(68, 76, 231, 0.12);
  }
  &:disabled {
    background-color: var(--color-disable-btn);
    color: var(--color-disable-text);
    cursor: not-allowed;
  }
}
