@use './../../../global-styles/setup-style' as *;

.supportContainer {
  @include flex_BothAlign(space-between, center);
  gap: 1rem;
  padding: var(--gap-contentBox);
  border: var(--border);
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  border-radius: var(--radius-card);

  .content {
    .title {
      font-size: var(--font-size-md);
      line-height: 1.4;
      font-family: var(--font-noto-semiBold);
      color: var(--color-primary);
    }
    .text {
      @include primaryText;

      .link {
        color: var(--color-thirdly);
      }
    }
  }
  @media screen and (max-width: 700px) {
    flex-direction: column;
  }
  @media screen and (max-width: 440px) {
    .btn {
      width: 100%;
    }
  }
}
